[alias]
  amend = commit --amend
  br = branch
  ci = commit
  co = checkout
  d = diff
  ds = diff --staged
  del-branch = "!f() { git push origin --delete \"$1\"; }; f"
  f = fetch
  fixup = commit --amend --no-edit
  lg = log --oneline --graph
  lga = log --all --oneline --graph
  lgm = log --pretty=format:"%C(auto)%h %C(bold blue)%an %C(auto)%d %s%n%b%C(reset)" --graph --decorate --abbrev-commit
  pl = pull
  ps = push
  pushf = push --force-with-lease
  ri = rebase -i
  rs = restore
  save = stash push
  st = status
  sw = switch
  undo = reset HEAD~1

[branch]
  sort = -committerdate

[column]
  ui = auto

[commit]
  gpgSign = true
  template = ~/.gitmessage
  verbose = true

[core]
  attributesfile = ~/.gitattributes_global
  autocrlf = input
  editor = code --wait
  excludesfile = ~/.gitignore_global
  fsmonitor = true
  pager = less -RFX
  untrackedCache = true

[credential]
  helper = cache --timeout=3600
  helper = osxkeychain

[diff]
  algorithm = histogram
  colorMoved = default
  colorMovedWS = allow-indentation-change
  mnemonicPrefix = true
  renames = copies
  tool = code

[difftool "code"]
  cmd = code --wait --diff $LOCAL $REMOTE

[fetch]
  prune = true
  pruneTags = true

[format]
  pretty = format:%C(auto)%h %C(bold blue)%an %C(auto)%d %s %C(dim white)(%ar)

[github]
  user = jekwwer

[help]
  autocorrect = prompt

[init]
  defaultBranch = main

[log]
  abbrevCommit = true
  date = iso
  decorate = short

[merge]
  conflictstyle = zdiff3
  tool = code

[mergetool "code"]
  cmd = code --wait $MERGED

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  followTags = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true

[tag]
  sort = version:refname

[user]
  email = evgenii.shiliaev@jekwwer.com
  name = Evgenii Shiliaev
